* text=auto

.gitattributes text
.gitignore text

*.cmd text
*.config text
*.cs text diff=csharp
*.csproj text
*.css text
*.html text diff=html
*.js text
*.json text
*.md text
*.resx text
*.settings text
*.sln text
*.txt text
*.xaml text

*.dll binary
*.gif binary
*.ico binary
*.jpg binary
*.png binary